{% extends 'base.html.twig' %}

{% block title %}BHP / {{bhp.name}}{% endblock %}

{% block body %}

    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-xl font-semibold text-gray-900">BHP / {{bhp.name}}</h1>
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
                <a href="{{ path('bhp_index') }}"
                   class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    &laquo; wstecz
                </a>
            </div>
        </div>
        <div class="mt-8 flex flex-col">
            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                    <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">

                        <div>
                            <div>
                                <nav class="tabs relative z-0 rounded-lg shadow flex divide-x divide-gray-200" aria-label="Tabs">

                                    <a href="#"
                                       class="tab-ajax text-gray-900 rounded-l-lg group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-sm font-medium text-center hover:bg-gray-50 focus:z-10">
                                        <span>Podstawowe informacje</span>
                                        <span aria-hidden="true" class="bg-indigo-500 absolute inset-x-0 bottom-0 h-0.5"></span>
                                    </a>

                                </nav>
                            </div>
                            <div id="tab-content" class="bg-white py-4 px-4">

                                <form action="{{ path('bhp_update', {bhp_id: bhp.id}) }}" method="POST" class="space-y-8 divide-y divide-gray-200">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">                                                                        
                                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
                                        <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Nazwa:</label>
                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                            <input type="text"
                                                   name="name"
                                                   value="{{bhp.name}}"
                                                   class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md">
                                        </div>
                                    </div>

                                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                        <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> Uczestnicy </label>
                                        <div class="mt-1 sm:mt-0 sm:col-span-2">

                                            <div class="relative overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                                                <table class="min-w-full table-fixed divide-y divide-gray-300">
                                                    <thead class="bg-gray-50">
                                                    <tr>
                                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Imię i nazwisko</th>
                                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Firma</th>
                                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Podpis</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="bhp_participants_table" class="divide-y divide-gray-200 bg-white">
                                                    {% for participant in participants %}
                                                    <tr>
                                                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                                            <input name="participant_name_{{loop.index0}}" value="{{participant.name}}" type="text" class="block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md">
                                                        </td>
                                                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                                            <input name="participant_company_{{loop.index0}}" value="{{participant.company}}" type="text" class="block max-w-lg w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm border-gray-300 rounded-md">
                                                        </td>
                                                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 flex gap-3">
                                                            <button id="bhp_participant_signature_{{participant.id}}" type="button" class="bhp_participant_signature bg-white py-1 px-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                                podpisz
                                                            </button>                                                             
                                                            {% if participant.signature is not null %}
                                                                <img id="participant_signature_img_{{participant.id}}" src="{{participant.signature}}" class="h-8 w-8 object-cover">
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                    <tfoot class="bg-gray-50">
                                                    <tr>
                                                        <th colspan="3" class="px-3 py-3 text-left">
                                                            <button id="add_new_bhp_participant_with_signature" type="button" class="bg-white py-1 px-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                                dodaj
                                                            </button>
                                                        </th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="pt-5">
                                        <div class="flex justify-end">
                                            <a href="{{ path('bhp_index') }}"
                                               class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                Anuluj
                                            </a>
                                            <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                Zapisz
                                            </button>
                                        </div>
                                    </div>
                                </form>

                                {# signature modal #}
                                <div id="signature_modal" class="fixed z-30 hidden flex-col gap-6 inset-x-0 inset-y-20 lg:inset-20 bg-slate-100 p-6 rounded-md">
                                    <h2 class="text-black font-bold text-lg">Twój podpis</h2>
                                    <canvas class="w-full h-full border border-slate-500 bg-white" id="signature_canvas"></canvas>
                                    <form id="signature_form" action="{{ path('bhp_save_signature') }}" method="POST" class="flex justify-end">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                        <input id="participant_id_hidden_input" type="hidden" name="participant_id">
                                        <input id="signature_hidden_input" type="hidden" name="signature">
                                        <button type="button" id="cancel_signature" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Anuluj
                                        </button>
                                        <button type="button" id="save_signature" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Zapisz
                                        </button>
                                    </form>
                                </div>
                                {# overlay #}
                                <div id="signature_overlay" class="fixed hidden z-20 w-full h-full inset-0 bg-black/50 "></div>
                                <img id="signature_image" class="" src="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
